pipeline/pl_copy_sql_tables.json
{
	"name": "pl_copy_sql_tables",
	"properties": {
		"activities": [
			{
				"name": "LookupTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select table_schema, table_name\nfrom information_schema.tables\nwhere table_name in ('Cancellation', 'Unique_Carriers')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "test"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy tables to adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_azure_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adlsgen2_sink",
									"type": "DatasetReference",
									"parameters": {
										"container": "raw",
										"directory": {
											"value": "@concat(\n    item().table_name,\n    '/',\n    'date_part=',\n    formatDateTime(utcnow(), 'yyyy-MM-dd')\n)",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(item().table_name, '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-08-13T16:11:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}